{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/career_detail.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}"
    />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/slick-1.8.1/slick/slick-theme.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="all-one">
 
    <!-- Navbar -->
    <header class="drop">

      <a href="{% url 'home' %}"><img class="desk_logo" src="{% static '/image/homepage_logo.png' %}" alt="Rapidez Writer Logo" /></a>
      <a href="{% url 'home' %}"><img class="mobile_logo" src="{% static '/image/logo-removebg.png' %}" alt="Rapidez Writer Logo" /></a>
      
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      
      <ul class="menu">
        <li>
          <a class="services">Services
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 serv" style="left: 38%">
            <div class="box111"></div>
            <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><li>Resume Analysis</li></a>
            <a href="{% url 'resumeWriting' %}"><li>Resume Writing</li></a>
            <a href="{% url 'resumeMakeover' %}"><li>Premium Templates</li></a>
            <a href="{% url 'linkedIn' %}"><li>LinkedIn Branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Consultation</li></a>
          </ul>
        </li>

        <li>
          <a class="resources">Resources
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 rscs" style="left: 38%">
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            <a href="{% url 'career_list_page' %}"><li>Career Advice</li></a>
            <a href="{% url 'quizes_list' %}"><li>Quiz</li></a>            
          </ul>
        </li>

        <li>
          <a class="comp">Company
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 cmpy" style="left: 38%">
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="{% url 'about' %}#aboutFounder"><li>About Founder</li></a>
            <a href="{% url 'contactUs' %}"><li>Contact Us</li></a>
            <a href="#"><li>Career</li></a>          
          </ul>
        </li>

        <li><a href="{% url 'testimonials' %}" class="testimonials">Testimonials</a></li>

        {% if user.is_authenticated %}
        <li>
          <a href="#">Accounts
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12" style="left: 38%">
            <a href="{% url 'create_blog' %}"><li>Create Blog</li></a>
            <a href="{% url 'add_category' %}"><li>Create Category</li></a>
            <a href="{% url 'category_list_page' %}"><li>Delete Category</li></a>
          {% if request.user.is_staff %}
            <a href="{% url 'signup' %}"> <li> Register User </li></a>
          {% endif %}
            <a href="{% url 'logout' %}"> <li> Logout </li></a>
        {% endif %}
          </ul>
        </li>
      </ul>
    </header>
    <!-- navbar-end -->
      
      <div class="m-opt">
        <div class="opt">
          <ul>
            <li class="no-lin">
              <a href="#"
                >Topics
                <i
                  class="fa fa-chevron-down"
                  style="
                    font-size: 10px;
                    position: relative;
                    bottom: 1px;
                    opacity: 0.3;
                  "
                  aria-hidden="true"
                ></i
              ></a>
              <ul class="ser1 ser12" style="left: 38%">
                {% for i in category %}
                <a href="{% url 'view_category_wise' i.category %}"
                  ><li>{{i}}</li></a
                >
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="ser">
          <div class="mov-r">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <!-- <a href="#"> search </a> -->
                  <!-- <i class="material-icons"></i> -->
                  <div class="input-field col s3">
                    <input id="input_text" type="text" data-length="10" />
                    <label for="input_text">Search </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="m-headlin">
        <div class="headline">
          {% if user.is_authenticated %}
          <a
            class="waves-effect waves-light btn"
            href="{% url 'blog_update' blog_details.pk %}"
            >Update</a
          >
          <a
            class="waves-effect waves-light btn"
            href="{% url 'blog_delete' blog_details.pk %}"
            >Delete</a
          >
          {% endif %}
          {% for i in blog_details.category.all %}
          <a
            class="waves-effect waves-light btn"
            href="{% url 'view_category_wise' i.category %}"
            >{{i}}</a
          >
          {% endfor %}
          <a class="waves-effect waves-light btn">AMANDAS</a>
          <h4><span> {{blog_details.heading}} </span></h4>
        </div>

        <div class="big-img">
          {% if blog_details.banner %}
          <img src="{{ blog_details.banner.url }}" alt="" />
          {% endif %}
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------detail---------------------------------------------- -->
    <div class="t-head">
      <div class="text1">
        <h5>{{blog_details.description | safe}}</h5>
        <p>
          With every new year comes a new playing field for job seekers to
          advance their careers. It's time to dust off your resume and prepare
          for one of the top 10 jobs of 2020. According to the U.S. Bureau of
          Labor Statistics Occupational Outlook Handbook, these top growing
          career paths are on the rise and will out-hire — and possibly out-pay
          — its competitors in 2020 and beyond. We will also take a look at how
          the coronavirus pandemic has affected the job market for this year.
        </p>
        <h5>Solar photovoltaic installers</h5>
        <p>
          Solar technology is booming right now. As prices for solar equipment
          fall, people are jumping on this initial investment to cultivate
          long-term gains. In fact, solar is taking off so fast that the
          industry is struggling to meet the demand; there simply aren't enough
          solar photovoltaic installers available. While the coronavirus
          pandemic is creating a bit of a hiccup on solar's upward trajectory,
          there's no reason to believe it won't bounce back and keep growing for
          years to come. With the median pay at $42,680 annually, it is a job
          that has little-to-no educational requirements needed to break in.
          Instead, on-the-job training provides most of what a solar PV
          installer needs to succeed.
        </p>
        <br />
        <p><span>Outlook:</span> 63% increase by 2028</p>
        <br />
        <p><span>Education & Training:</span> On-the-job training</p>
        <br />
        <p><span>Median Salary:</span>$42,680</p>
        <br />
        <h5>Home health and personal care aides</h5>
        <p>
          Home health aides care for patients who are elderly or who have
          chronic diseases, cognitive impairment, and other medical issues that
          require extra attention. Frequently, this means working with the
          patient in their home. While the pay is typically around $24,200 a
          year, job satisfaction is quite high. The baby-boom population is
          aging, leading to an increased need for home health aides. US News and
          World Report ranked home health aides number one on their Best Jobs
          Without a College Degree list.
        </p>
        <br />
        <p><span>Outlook:</span> 37% increase by 2028</p>
        <br />
        <p>
          <span>Education & Training:</span> High school diploma or equivalent
        </p>
        <br />
        <p><span>Median Salary:</span>$24,200</p>
        <br />

        <h5>Occupational therapy assistants</h5>
        <p>
          Occupational therapy assistants help patients with therapeutic
          exercises, as well as learning and maintaining the ability to do daily
          life activities. The goal of an occupational therapy assistant is to
          assist people who have been sick or injured as they regain their
          independence. While it does typically require a degree, a two-year
          program usually suffices for this requirement, and the median salary
          is just north of $60,000.
        </p>
        <br />
        <p><span>Outlook:</span> 33% increase by 2028</p>
        <br />
        <p>
          <span>Education & Training:</span> Associate degree from an accredited
          program
        </p>
        <br />
        <p><span>Median Salary:</span>$60,220</p>
        <br />

        <br />

        <div class="related">
          <h5>Related Articles:</h5>
          <div class="g-img1">
            <div class="part11 ptt">
              <a href="#">
                <img
                  src="{% static '/image/marvin-meyer-SYTO3xs06fU-unsplash.jpg' %}"
                  alt=""
                />
                <p>4 Ways to Support Diversity and Inclusion at Work</p>
              </a>
            </div>

            <div class="part12 ptt">
              <a href="#">
                <img src="{% static '/image/meeting.jpg' %}" alt="" />
                <p>Why Women Need to Start Supporting Other Women at Work</p>
              </a>
            </div>

            <div class="part13 ptt">
              <a href="#">
                <img
                  src="{% static '/image/scott-graham-5fNmWej4tAA-unsplash.jpg' %}"
                  alt=""
                />
                <p>Productivity Tips That Really Work</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="img112">
        <a href="#NeedToGoToCareerAnalysisPage"><img src="{% static '/image/sidebar.JPG' %}" alt="" /></a>
      </div>
    </div>
    
    <!-- --------------------------------------------------footer----------------------------- -->
    <footer class="footer">
      <div class="product">
        <h5>PRODUCTS</h5>
        <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><p>Resume Analysis</p></a>
        <a href="{% url 'resumeWriting' %}"><p>Resume Writing</p></a>
        <a href="{% url 'resumeMakeover' %}"><p>Resume Template Makeover</p></a>
        <a href="{% url 'linkedIn' %}"><p>Linkedin Profile Branding</p></a>
        <a href="{% url 'resumeVideo' %}"><p>Video Resume Building</p></a>
        <a href="{% url 'resumeConsulting' %}"><p>Consulting</p></a>
      </div>

      <div class="learn">
        <h5>LEARN MORE</h5>
        <a href="#"><p>FAQs</p></a>
        <a href="{% url 'quizes_list' %}"><p>Quiz</p></a>
        <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
        <a href="#"><p>Carrer Advice</p></a>
      </div>

      <div class="company">
        <h5>COMPANY</h5>
        <a href="#"><p>Careers</p></a>
        <a href="{% url 'about' %}"><p>About Us</p></a>
        <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> <p> Logout </p></a>
        {% else %}
        <a href="{% url 'login' %}"> <p> Login </p></a>
        {% endif %}
      </div>

      <div class="branded">
        <a href="{% url 'home' %}">
        <img 
        class="desk_logo" 
        src="{% static '/image/homepage_logo-removebg.png' %}" 
        alt="Rapidez Writer Logo" 
        style="margin-bottom: 1.5em" />
       
          <a 
            href="https://www.facebook.com/RapidezWriter/" 
            style="color: #dbe0f2"
            target="blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a> 
          <a 
            href="https://www.linkedin.com/company/rapidezwriters/" 
            style="color: #dbe0f2"
            target="blank">
            <i
              class="fa fa-linkedin fa-2x"
              style="margin-left: 20px; margin-right: 7px"
              aria-hidden="true"
            ></i
          ></a>
        </a>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static '/lightbox2-dev/dist/js/lightbox.js' %}"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".carousel").carousel();
      });
    </script>

    <script>
      $(".post-wrapper").slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".next"),
        prevArrow: $(".prev"),
      });
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>
    <script>
      $(document).ready(function () {
        $("select").formSelect();
      });
    </script>
  </body>
</html>
