<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h5>
        Hi Prashanth,
        Thankyou for choosing RapidezWriter for the perusal of your resume.
        We have received your resume and after performing the complete analysis process, our team has pooled their knowledge to create a toolbox of tips and suggestions for you
        1.	Skills are something that should be clearly stated on any resume/CV. Employers are curious to know your knowledge base wrt the skills you have mentioned or what you have learnt in previous positions or how you directly impacted the company/project using your skill set.
        2.	Think of all your key accomplishments as a way to garner the attention of the reader, showcasing any achievements or abilities you have that will directly affect the position you are applying for or benefit the company in some way.
            Do not make the mistake of listing job duties on a resume instead of accomplishments. 
        For example: Any out of the ordinary things you did that made your efforts better than anyone else? What problems or hindrances did the company face that you helped solve? 
        3.	Add honors & awards to your education section. You should have a section on resume that is education specific. You can include any honors you received in this section.
            Create a separate block for honors & awards -An educational background. 
        4.	The first thing you need to do when creating your plain text resume is to use the ‘save as’ function in your word processor. Save the document as a .docx file. Also, remove any of the graphics in it. 
            Change the font and keep it constant throughout. For example: make the font size a 12 point font which is a standard followed across the industry.
            Remove graphics and special symbols.
        
        5.	Follow 1 format such as: Work experience-> Education-> Awards and achievements-> Skills
        6.	Lastly, some DOs and DONTs:
            The DOs:
                Perform a thorough spellcheck.
                Use some keywords which can be related to the job description.
                Limit the number of pages to maximum 2-3 pages.
                Mention all the details in a crisp manner using bullet points whereever relevant.
            The DONTs:
                Do not use any fancy words or acronyms.
                Avoid the usage of graphics or any form of special designs.
                Avoid using informal/thick page borders.
                Do not use different font sizes for each section.
                Limit the usage of features like BOLD, ITALICS, COLORS.
        
        So either make a one-pager as easy to read as possible, with a font that is large enough for most people. Or – and this is usually the right choice for anyone with lots of experience – make your resume a 2-pager with a font anyone can easily read.
        These are some of the useful tips/suggestions for a successful resume writing. 
        For a much deeper analysis and for improvement suggestions on how to fix your resume, contact us at 123456789 or email us at asdfghjkl@xyz.com and we can help you get your dream jobs.
        
    </h5>
</body>
</html>