{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/quiz.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}"
    />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/slick-1.8.1/slick/slick-theme.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Navbar -->
    <header class="drop">

      <a href="{% url 'home' %}"><img class="desk_logo" src="{% static '/image/homepage_logo.png' %}" alt="Rapidez Writer Logo" /></a>
      <a href="{% url 'home' %}"><img class="mobile_logo" src="{% static '/image/logo-removebg.png' %}" alt="Rapidez Writer Logo" /></a>
      
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      
      <ul class="menu">
        <li>
          <a class="services">Services
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 serv" style="left: 38%">
            <div class="box111"></div>
            <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><li>Resume Analysis</li></a>
            <a href="{% url 'resumeWriting' %}"><li>Resume Writing</li></a>
            <a href="{% url 'resumeMakeover' %}"><li>Premium Templates</li></a>
            <a href="{% url 'linkedIn' %}"><li>LinkedIn Branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Consultation</li></a>
          </ul>
        </li>

        <li>
          <a class="resources">Resources
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 rscs" style="left: 38%">
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            <a href="{% url 'career_list_page' %}"><li>Career Advice</li></a>
            <a href="{% url 'quizes_list' %}"><li>Quiz</li></a>            
          </ul>
        </li>

        <li>
          <a class="comp">Company
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 cmpy" style="left: 38%">
            <a href="{% url 'about' %}"><li>About Us</li></a>
            <a href="{% url 'about' %}#aboutFounder"><li>About Founder</li></a>
            <a href="{% url 'contactUs' %}"><li>Contact Us</li></a>
            <a href="#"><li>Career</li></a>          
          </ul>
        </li>

        <li><a href="{% url 'testimonials' %}" class="testimonials">Testimonials</a></li>

        {% if user.is_authenticated %}
        <li>
          <a href="#">Accounts
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12" style="left: 38%">
            <a href="{% url 'create_blog' %}"><li>Create Blog</li></a>
            <a href="{% url 'add_category' %}"><li>Create Category</li></a>
            <a href="{% url 'category_list_page' %}"><li>Delete Category</li></a>
          {% if request.user.is_staff %}
            <a href="{% url 'signup' %}"> <li> Register User </li></a>
          {% endif %}
            <a href="{% url 'logout' %}"> <li> Logout </li></a>
        {% endif %}
          </ul>
        </li>
      </ul>
    </header>
    <!-- navbar-end -->


<div class="parent">

  <div class="item ">
    <h3>Should you stay or quit your job?
    </h3>
    <h5>Evaluate your current job with our quiz and learn: </h5>
        <h6><i class="fas fa-check" style=""> </i> What are your main drivers for a potential career change?</h6>
        <h6><i class="fas fa-check"> </i> Are there big red flags in your relationship with work?</h6>
        <h6><i class="fas fa-check"> </i> Should you change employers or look for a promotion?</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="#quiz">Take the Quiz</a>
  </div>

  <div class="item last" style="background: url({% static 'image/book.png' %}) center center no-repeat; background-size: contain;"></div>
  
</div>

<div class="container" style="text-align: center;">
  <h3 style="margin: 3.946667rem 0 1.168rem 0;">We’ve created some resources for you</h3>
  <h5>Get inspired and find out your next step!</h5>
</div>

<div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">

  <div class="item">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Is your resume good enough? </h5>
    <h6 style="color: #8d8c8c; width: 70%;">Our free and fast resume grade relies on algorithms developed by reading 500,000 resumes. It will give you the answer in just 3 minutes!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 1 %}">Take the Quiz</a>
  </div>
  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-1.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>
</div>


<div class="parent" style="padding: 0px 10%;
margin-top: 0% !important;
padding-left: 20%;
background: #f4f4f4;;">

  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez2.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>

  <div class="item" style="margin-left: 8em !important;
  background: #f4f4f4;">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Resume Job Assessment Tool </h5>
    <h6 style="color: #8d8c8c; width: 70%;">We built a fast and free resume keyword checker and assessment tool that scans your resume and suggests optimizations for your job hunt. Give it a try!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="#quiz">Take the Quiz</a>
  </div>
</div>

<div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">

  <div class="item">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">How long does it take to find a job?</h5>
    <h6 style="color: #8d8c8c; width: 70%;">We can't tell you what's the right next job for you, but we can tell you how much time getting it will take.</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="#quiz">Take the Quiz</a>
  </div>
  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez3.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>
</div>

<div class="parent" style="padding: 0px 10%;
margin-top: 0% !important;
padding-left: 20%;
background: #f4f4f4;;">

  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez4.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>

  <div class="item" style="margin-left: 8em !important;
  background: #f4f4f4;">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Are You Unhappy at Work?</h5>
    <h6 style="color: #8d8c8c; width: 70%;">Take our quiz to find out if you’re unhappy at work and what’s the main reason for it. We’ll also give you some ideas and solutions to follow!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="#quiz">Take the Quiz</a>
  </div>
</div>
<!-- <div id="quiz" class="typeform-widget" data-url="https://form.typeform.com/to/fRnkKnTK?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->

<div class="parent">

    <div class="item ">
      <h3>About the quiz
      </h3>
      <h5> We all have been there. Whether it’s a stubborn colleague, a manager you don’t see eye to eye with, a challenging project - or lack of one amidst a sea of monotonous work.</h6>
      <h5>It’s common to feel you’re ready to move on and change your job - but there’s often doubt involved. Is this a phase in the relationship with your work or really the break-up point?</h6>
      <h5>We developed this quiz to help you evaluate your current job from several different angles and uncover if there’s a reason to be setting your eyes in a new direction.</h6>
    </div>
  
    <div class="item last" style="background: url({% static 'image/quiz1.png' %}) center center no-repeat; background-size: contain;"></div>
    
  </div>

    <!-- --------------------------------------------------footer----------------------------- -->
    <footer class="footer">
      <div class="product">
        <h5>PRODUCTS</h5>
        <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><p>Resume Analysis</p></a>
        <a href="{% url 'resumeWriting' %}"><p>Resume Writing</p></a>
        <a href="{% url 'resumeMakeover' %}"><p>Resume Template Makeover</p></a>
        <a href="{% url 'linkedIn' %}"><p>Linkedin Profile Branding</p></a>
        <a href="{% url 'resumeVideo' %}"><p>Video Resume Building</p></a>
        <a href="{% url 'resumeConsulting' %}"><p>Consulting</p></a>
      </div>

      <div class="learn">
        <h5>LEARN MORE</h5>
        <a href="#"><p>FAQs</p></a>
        <a href="{% url 'quizes_list' %}"><p>Quiz</p></a>
        <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
        <a href="#"><p>Carrer Advice</p></a>
      </div>

      <div class="company">
        <h5>COMPANY</h5>
        <a href="#"><p>Careers</p></a>
        <a href="{% url 'about' %}"><p>About Us</p></a>
        <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> <p> Logout </p></a>
        {% else %}
        <a href="{% url 'login' %}"> <p> Login </p></a>
        {% endif %}
      </div>

      <div class="branded">
        <a href="{% url 'home' %}">
        <img 
        class="desk_logo" 
        src="{% static '/image/homepage_logo-removebg.png' %}" 
        alt="Rapidez Writer Logo" 
        style="margin-bottom: 1.5em" />
       
          <a 
            href="https://www.facebook.com/RapidezWriter/" 
            style="color: #dbe0f2"
            target="blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a> 
          <a 
            href="https://www.linkedin.com/company/rapidezwriters/" 
            style="color: #dbe0f2"
            target="blank">
            <i
              class="fa fa-linkedin fa-2x"
              style="margin-left: 20px; margin-right: 7px"
              aria-hidden="true"
            ></i
          ></a>
        </a>
      </div>
    </footer>


    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static '/lightbox2-dev/dist/js/lightbox.js' %}"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".carousel").carousel();
        $(".carousel.how-it-works").carousel({
          fullWidth: true,
          indicators: true
        });
      });
    </script>

    <script>
      $(".post-wrapper").slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".next"),
        prevArrow: $(".prev"),
      });
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>
    <script src="//code.tidio.co/8cfnhkqijnxjlimblu2zc8oezedbmt9r.js" async></script>
  </body>
</html>
